# Usage: direnv allow

layout python3

requirements="src/requirements.txt"
if [ -f "$requirements" ]; then
  pip3 install -r "$requirements"
fi

export AZURE_DEV_COLLECT_TELEMETRY=no

if ! [ -x "$(command -v azd)" ]; then curl -fsSL https://aka.ms/install-azd.sh | bash; fi
azd login --check-status || azd login
