.DS_Store

# Local .terraform directories
**/infra/.terraform/*

# .tfstate files
**/infra/*.tfstate
**/infra/*.terraform.lock.hcl

**/*.tfstate.*

# Crash log files
**/crash.log

**/src/*.sqlite
.direnv/*
.azure
.venv
db.sqlite
